.App {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: aquamarine;
}
h3 {
  font-size: 35px;
  margin-top: 60px;
}
input {
  padding: 10px 60px;
  font-size: 20px;
}
button {
  padding: 10px 40px;
  margin-left: 15px;
  font-size: 20px;
  background-color: #fdd041;
}
button:hover {
  background-color: #6ea3ca;
  color: white;
  cursor: pointer;
}
